*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans';
}
.mary-r{
    color:#FD6E0A ;

}
.section-mean-heading{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    background: #FFF8F3;

}
.mean-head-heading{
    font-weight: 800;
    font-size: 45px;

}
.mean-heading-menu{
    display: flex;
    align-items: center;

}
.mean-heading-menu li{
    padding: 0px 25px ;
    list-style: none;
}
.mean-heading-menu li a{
   text-decoration: none;
   color: #474747;
}
.btn-primary{
    background: #FD6E0A;
    border: 0;
    color:#fff;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;

}
/* Bannner Section */
.banner-section{
    display: flex;
    padding: 50px 200px;
    align-items: center;
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.banner-section-h3{
    font-weight: 600;
    font-size: 35px;
    color: #474747;
    margin-bottom: 25px;

 
}
.banner-section-h2{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
}
.banner-section-p{
    font-weight: 400;
    font-size: 18px; 
    margin-bottom: 20px;
}
.banner-section-right img{
    width: 452px;
}